<template>
  <nav class="navbar navbar-light">
    <div class="container">
      <router-link class="navbar-brand" :to="{name: 'home'}">
        VueApp
      </router-link>
      <ul class="nav navnar-nav pull-xs-right">
        <li class="nav-item">
          <router-link
            class="nav-link"
            :to="{name: 'home'}"
            active-class="active"
          >
            Home</router-link
          >
        </li>
        <template v-if="isLoggedIn">
          <li class="nav-item">
            <router-link
              class="nav-link"
              :to="{name: 'home'}"
              active-class="active"
            >
              <i class="ion-compose"></i>&nbsp; New Artticle</router-link
            >
          </li>
          <li class="nav-item">
            <router-link
              class="nav-link"
              :to="{name: 'home'}"
              active-class="active"
            >
              <i class="ion-compose"></i>&nbsp; Settings</router-link
            >
          </li>
          <li class="nav-item">
            <router-link
              class="nav-link"
              :to="{name: 'home', params: {slug: currentUser.username}}"
              active-class="active"
            >
              <img class="user-pic" :src="currentUser.image" /> &nbsp;
              {{ currentUser.username }}</router-link
            >
          </li>
        </template>
        <template v-if="!isLoggedIn">
          <li class="nav-item">
            <router-link
              class="nav-link"
              :to="{name: 'login'}"
              active-class="active"
            >
              Sign In</router-link
            >
          </li>
          <li class="nav-item">
            <router-link
              class="nav-link"
              :to="{name: 'register'}"
              active-class="active"
            >
              Sign Up</router-link
            >
          </li>
        </template>
      </ul>
    </div>
  </nav>
</template>
<script>
import {mapState} from 'vuex'

export default {
  name: 'AppTo pBar',
  computed: {
    ...mapState({
      currentUser: (state) => state.auth.currentUser,
      isLoggedIn: (state) => state.auth.isLoggedIn,
    }),
  },
}
</script>
<style scoped>
.nav-item {
  display: inline-block;
  margin-right: 15px;
}
.nav-link {
  color: lightgray;
}
.active {
  color: black;
}
</style>
